#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

 .main-page-container {
  background-image: url("../src/images/QuizzlerCowboy.jpg");
  /* background-size: cover; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  width: 150%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* overflow: hidden; */
} 

.navbar {
  display: flex;
}

.time {
  font-size: xx-small;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card.custom-cards {
  max-height: 200px; 
  background-color: 		#F2F2E8;
}

.chatbox-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999; /* Ensures it stays above other elements */
  width: 300px;
}

.score-container {
  position: fixed;
  background-color: darkkhaki;
  border: solid;
  border-radius: 25px;
  border-color: goldenrod;
  left: 10px;
  top: 125px;
}

.friend-container{
  width: 250px;
  background-color:lightgoldenrodyellow;
  padding: 0;
}

.friend-button {
  width: 300px;
}

.chat-toggle-btn {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 10000;
  border-radius: 5px;
}

.chat-toggle-btn:hover {
  background-color: #0056b3;
}