.logreg-page-container {
  display: flex;
  flex-direction: column;
  align-items: start; 
  gap: 50px; 
  padding: 20px;
  max-width: 500px; 
  margin-left: auto;
  margin-right: auto; 
}

.welcome-container {
  width: 100%; 
  background-color: #D7B53B;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 .logreg-container {
  width: 100%; /* Ensures these containers take up full width of their parent */
  background-color: #f4f4f2;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container, .register-container {
  width: 100%;
  margin-top: 10px; /* Adds space between login and register sections */
}

.register-container p {
  text-align: center; /* Center the registration invitation text */
}
