.parameters {
    padding: 20px;
    background-color: darkgoldenrod;
    

    
}

.labels{
    padding-right: 20px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.selectorFields{
    width: 200px;
    
    

}

.inputFields{

}

